body { background: #d49176; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 17px; display: flex; }
.block-user-0 { color: #d1efce; font-size: 16px; margin-bottom: 5px; }
.block-order-1 { color: #ae69e; font-size: 18px; margin-bottom: 5px; }
.block-helper-2 { color: #a6f448; font-size: 12px; margin-bottom: 5px; }
.block-token-3 { color: #9cc6ae; font-size: 19px; margin-bottom: 5px; }
.block-logger-4 { color: #d41a8d; font-size: 18px; margin-bottom: 5px; }
.block-order-5 { color: #f2c1d9; font-size: 15px; margin-bottom: 5px; }